.Rproj.user
.Rhistory
.RData
.Ruserdata
diff_2019.tif
change10_17IDEam.tif
QGIS_files/base_map_frankenstein_v2.ggz
QGIS_files/final_mapasbosques.qgz
QGIS_files/final_mapasbosques_AGU.qgz
vector_data/
downloads/
.DS_Store