.Rproj.user
.Rhistory
.RData
.Ruserdata
results_outputs/areas_f.RData
results_outputs/areas_fin.RData
results_outputs/areas_fin_old.RData
diff_2019.tif
change10_17IDEam.tif
agg_all.RData
QGIS_files/base_map_frankenstein_v2.ggz
QGIS_files/final_mapasbosques.qgz
QGIS_files/final_mapasbosques_AGU.qgz
vector_data/
downloads/